body:has(.user-details) {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f9fa;
}

.navbar-ios {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
    font-weight: 600;
}

.dropdown-toggle::after {
    display: none;
}

.list-label {
    font-weight: 600;
}

.list-value {
    text-align: right;
    color: #363636;
}

.list-group-item:has(span.list-label, span.list-value) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
